body {
	background: #000;
	background-image: url("https://cutewallpaper.org/21/stars-background-hd/750+-Starry-Sky-Pictures-HD-Download-Free-Images-on-Unsplash.jpg");
	color: white;
	text-align: center;
	margin: 0;
	overflow: hidden;
	cursor: url("/img/star.png") 31 31,auto;
	font-family: 'Courier New', Courier, monospace;
}
#thanks {
	display: none;
	position: fixed;
	top: 40vh;
	right: 0vw;
	font-size: 3em;
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}
* {
	cursor: url("/img/star.png") 31 31,auto;
}
button {
	cursor: url("/img/star2.png") 31 31,auto!important;
}
p,h1,h2,h3,h4,h5,h6,i,b,u,s,ins,del,span,em,footer {
	cursor: url("/img/star3.png") 31 31,auto!important;
}

m {
	cursor: url("/img/star2.png") 31 31,pointer!important;
	display: inline;
	border: 1px solid red;
}

#Globe {
	cursor: url("/img/sat.png") 31 31,auto!important;
}
a {
	cursor: url("/img/star2.png") 31 31,auto!important;
}

a:link {color: white;}      /* unvisited link */
a:visited {color: white;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: white;}

content {
	text-align: left;
	display: block;
	margin-top: 20px;
}
content img {
	width: 80%;
}
::selection {
	background: white;
	color: black;
}
#rocket,#mars {
	position: fixed;
}
.ro, #rocket {
	cursor: url("/img/astro.png") 31 31,auto!important;
}
#mars {
	cursor: url("/img/rover.png") 31 31,auto!important;
}
label,input {
	cursor: url("/img/pen.png") 1 1,auto!important;
}

#moon {
	cursor: url("/img/lander.png") 31 31,auto!important;
	position: fixed;
	width: 70px;
	bottom: 390px;
	z-index: 999;
	right: 80px;
	height: 70px;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
}

#moon.r {
	animation-name: moon;
}
@keyframes moon {
  0% {bottom: 320px; right: 254px; z-index: 0;}
  75% {bottom: 260px; right: 26px; z-index: 0;}
	50% {bottom: 200px; right: 250px; z-index: 999;}
	25% {bottom: 260px; right: 460px; z-index: 0;}
	100% {bottom: 320px; right: 254px; z-index: 0;}
}

.ro {
	height: 30px;
	z-index: 0;
	position: fixed;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.ro.no {
	display: none;
}



#r2 {
	transform: rotate(-120deg);
  animation-duration: 60s;
	animation-name: r2;
}
@keyframes r2 {
  from {top: 110vh; left: 110vw;}
  to {top: -100vh; left: -100vw;}
}
#crazy {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	/* cursor: url("/img/rocket_small.png") 64 64,auto!important; */
}
#r3 {
	transform: rotate(60deg);
  animation-duration: 15s;
	animation-name: r3;
}
@keyframes r3 {
  from {top: 0vh; left: 50vw;}
  to {top: 2000vh; left: 1500vw;}
}

#r4 {
	transform: rotate(-30deg);
  animation-duration: 20s;
	animation-name: r4;
}
@keyframes r4 {
  to {top: 0vh; left: 50vw;}
  from {top: 100vh; left: 20vw;}
}

#r5 {
	display: none;
}


#mars {
	top: 0;
	left: 55vw;
	width: 150px;
	height: 150px;
	transform: rotate(180deg);
}
#rocket {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
	bottom: 200px;
	right: 250px;
	width: 100px;
	height: 100px;
	z-index: 0;
	transform: rotate(-45deg);
}
#container {
	width: 100vw;
}
#over {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
	position: fixed;
	top: 84vh;
	border: 1px solid black;
	background: white;
	width: 200px;
	text-align: center;
	padding: 2px;
	border-radius: 10px;
	left: 20vw;
	color: black;
}
#slide {
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -o-transition: heightl 2s ease;
  -ms-transition: height 2s ease;
  transition: height 2s ease;
	padding-left: 50px;
	/* border-right: 1px solid white; */
	max-height: 85vh;
	overflow-y: auto;
	overflow-x: hidden;
}
pre {
	border: 0.5px dotted white;
	width: 90%;
	overflow: auto;
}
#warn span {
	font-size: 50px;
}
#slidstuff {
	display: inline-block;
	float: left;
	width: 50vw;
}
#gl {
	height: 100vh;
	float: right;
	display: inline-block;
	width: 49.5vw;
}

footer{
	max-height: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50vw;
	font-size: 0.9em;
}
.move {
	cursor: pointer;
	font-size: 1.1em;
}
#Globe {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	cursor: move;

}

#load::before {
	overflow: hidden;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	content: " ";
	width: 100vw;
	height: 100vh;
	background: #000;
}
#load {
	z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;

	/* uncomment below for no load: !!!!!!!!!!!!!!!!!!!!!!!!!! */
	/* display: none; */
	/* end */


	margin-top: 35vh;
}
/* css loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#warn {
	height: 100vh;
	width: 100vw;
	background-image: url("https://cutewallpaper.org/21/stars-background-hd/750+-Starry-Sky-Pictures-HD-Download-Free-Images-on-Unsplash.jpg");
	display: none;
	position: fixed;
	z-index: 9999999999;
	top: 0;
	left: 0;
}

@media screen and (max-width: 800px) {
	#warn {
		display: block;
	}
}